$new-dark-grey: hsl(240, 5%, 17%);
$new-space: #131318;
$new-light-grey: #a3a3b1;
$new-white: #ffffff;
$new-semi-white: #afeeee;
$new-aquamarine: #7fffd4;
$new-dark-aquamarine: #69ccab;
$new-coral: #f08080;