$new-dark-grey: hsl(240, 5%, 17%);
$new-space: #131318;
$new-light-grey: #a3a3b1;
$new-white: #ffffff;
$new-semi-white: #afeeee;
$new-aquamarine: #6E56F5;
$new-dark-aquamarine: #69ccab;
$new-coral: #f08080;

$cookie-yellow: #ffcc00;
$orange-yellow: #ffae00;
$plum-pink: #b257ee;