@import 'colors';

@mixin large-header-desktop {
    font-family: 'Biryani';
    font-size: 164px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    color: $new-dark-grey;
    @include for-small-desktop {
        font-size: 104px;
    }
    @include for-tablet-only {
        font-size: 64px;
    }
}

@mixin large-welcome-desktop {
    font-family: 'Biryani';
    font-size: 124px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    color: $new-dark-grey;
    @include for-small-desktop {
        font-size: 64px;
    }
    @include for-tablet-only {
        font-size: 44px;
    }
    @include for-phone-only {
        font-size: 34px;
    }
}

@mixin large-thin-desktop {
    font-family: 'Biryani';
    font-size: 64px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: $new-dark-grey;
    @include for-small-desktop {
        font-size: 44px;
    }
    @media (max-width: 1300px) {
        font-size: 34px;
    }
    @include for-phone-only {
        font-size: 54px;
    }
    @include for-tiny-phone-only {
        font-size: 34px;
    }
}

@mixin gigantic-decoration-desktop($fill: white, $border: black) {
    font-family: 'Biryani';
    font-size: 100px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    color: $fill;
    stroke-width: 1px;
    -webkit-text-fill-color: $fill; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $border;
    @include for-tablet-only {
        font-size: 134px;
    }
    @media (max-width: 900px) {
        font-size: 134px;
    }
    @include for-phone-only {
        font-size: 74px;
    }
    @include for-tiny-phone-only {
        font-size: 74px;
    }
}

@mixin large-hero-desktop {
    font-family: 'Biryani';
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: $new-dark-grey;
    @include for-small-desktop {
        font-size: 20px;
    }
    @include for-tablet-only {
        font-size: 16px;
    }
}

@mixin large-topic-desktop {
    font-family: 'Biryani';
    font-size: 74px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    color: $new-dark-grey;
    @include for-small-desktop {
        font-size: 24px;
    }
    @include for-tablet-only {
        font-size: 24px;
    }
}

@mixin main-text-desktop {
    font-family: 'Biryani';
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: normal;
    color: $new-dark-grey;
    @include for-small-desktop {
        font-size: 16px;
    }
    @include for-tablet-only {
        font-size: 16px;
    }
}

@mixin main-bolder-text-desktop {
    font-family: 'Biryani';
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: $new-dark-grey;
}

@mixin middle-title-desktop {
    font-family: 'Biryani';
    font-size: 34px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: $new-dark-grey;
    @include for-tablet-only {
        font-size: 24px;
    }
}

@mixin small-header-desktop {
    font-family: 'Biryani';
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    color: $new-dark-grey;
}

@mixin tiny-header-desktop {
    font-family: 'Biryani';
    font-size: 10px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    color: $new-dark-grey;
}
