@import '../../styles/custom.scss';

.about-container {
    position: relative;
    background-color: $new-white;
    overflow: hidden;
    height: 120vh;
    max-height: 1000px;
}

.wave-container {
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: $over-base-z;
}

.background-text-box {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.floating-box {
    height: 164px;
    inline-size: 164px;
    transform: rotate(-45deg);
    margin-bottom: 150px;
}

.overflow-box {
    inline-size: 20000px;
    span {
        margin-right: 30px;
        @include gigantic-decoration-desktop($new-white, $orange-yellow);
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
    span:hover {
        -webkit-text-stroke-width: 5px;
        stroke-width: 5px;
    }
}

.about-description-box {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    h1 {
        margin-top: 20px;
    }
}

.profile-pic {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}

@mixin about-dialog {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 230px;
    width: 30vw;
    height: 100%;
    border-radius: 10%;
    border: 0px solid transparent;
}

.about-description {
    @include about-dialog;
    @include delayed-backdrop;
}

.about-description-revealed {
    @include about-dialog;
    @include delayed-backdrop-reset(1.2s);
}

// .about-headline {
//     margin-left: 300px;
//     padding-top: 100px;
//     h1 {
//         @include large-topic-desktop;
//         @include x-slide-delayed-opacity(-500px);
//     }
// }

// .about-headline-closed {
//     margin-left: 300px;
//     padding-top: 100px;
//     h1 {
//         @include large-topic-desktop;
//         @include x-slide-delayed-opacity-reset(0.6s);
//     }
// }

.cv-box {
    margin-top: 20px;
    a {
        color: $new-aquamarine;
    }
}

@include for-small-desktop {
    .about-container {
        position: relative;
        background-color: $new-white;
    }

    .explainer-popup {
        top: -230px;
    }
}

@include for-tablet-only {
    // .about-headline {
    //     margin-left: 200px;
    //     padding-top: 100px;
    //     h1 {
    //         @include large-topic-desktop;
    //     }
    // }
    // .about-headline-closed {
    //     margin-left: 200px;
    //     padding-top: 100px;
    //     h1 {
    //         @include large-topic-desktop;
    //     }
    // }
}

@include for-phone-only {
    .about-container {
        position: relative;
        background-color: $new-white;
    }

    // .about-headline {
    //     margin-left: 30px;
    //     padding-top: 100px;
    // }

    // .about-headline-closed {
    //     margin-left: 30px;
    //     padding-top: 100px;
    // }
}

@include for-tiny-phone-only {
    .about-container {
        position: relative;
        background-color: $new-white;
    }
}
