@import '../../styles/custom.scss';

.about-container {
    background-color: $new-semi-white;
    height: 900px;
}

.about-headline {
    margin-left: 300px;
    padding-top: 100px;
    h1 {
        @include large-topic-desktop;
    }
}

.about-content-box {
    padding: 100px 200px 100px 300px;
    display: flex;
    flex-direction: row;
}

.skill-collections {
    flex-grow: 0;
    flex-shrink: 0;
    width: 50%;
    h4 {
        @include small-header-desktop;
    }
    h3 {
        @include large-thin-desktop;
    }
}

.skill {
    cursor: pointer;
}

.skill:hover {
    color: $new-coral;
}

.separator {
    color: $new-coral;
}

.about-image-box {
    // pass
}
