@import '../../styles/custom';

.contact-container {
    position: relative;
    background-color: $new-white;
    height: 900px;
}

.contact-headline {
    position: relative;
    margin-left: 300px;
    padding-top: 100px;
    h1 {
        @include large-topic-desktop;
    }
}

.title {
    position: relative;
    z-index: $over-base-z;
    .colored {
        color: $new-white;
    }
}

.contact-content-box {
    padding: 100px 200px 100px 300px;
    display: flex;
    flex-direction: row;
}


.decoration-box-large {
    z-index: $base-z;
    display: inline-block;
    position: relative;
    top: 0px;
    right: 131px;
    top: 50px;
    width: 150px;
    height: 150px;
    padding: 100px;
    background-color: $new-coral;
}

.decoration-box-small {
    position: absolute;
    bottom: -300px;
    left: 60%;
    width: 20px;
    height: 20px;
    padding: 20px;
    background-color: $new-coral;
}
