@import '../../styles/custom.scss';

.hero-container {
    background: $new-space;
    height: 900px;
    max-height: 100vh;
    z-index: 0;
}

.hero-container::after {
    content: '';
    height: 900px;
    max-height: 100vh;
    background: $new-space;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.hero-content-box {
    padding: 100px 200px 100px 300px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.profile-image {
    z-index: 1;
}

.hero-text-box {
    height: 500px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    z-index: 1;
    h1 {
        @include large-header-desktop;
        color: $new-white;
        white-space: nowrap;
    }
    h2 {
        @include large-hero-desktop;
        color: $new-white;
    }
}

.changeling-text-box {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    background-color: black;
    color: white;
    max-width: 20vw;
    padding: 7px 0 1px 0;
    text-align: center;
    overflow-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
}

.sliding-titles {
    display: inline-block;
    vertical-align: bottom;
    -webkit-transition: transform 1s ease-in-out; /* Safari prior 6.1 */
    transition: transform 1s ease-in-out;
    will-change: transform;
}

.changeling-text {
    display: inline-block;
    vertical-align: bottom;
    text-decoration: underline;
    width: 20vw;
}

.hero-image-box {
}

.exclam {
    display: inline-block;
    color: $new-aquamarine;
    animation: rolling-icon 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    @keyframes rolling-icon {
        0% {
            transform: rotateZ(-10deg);
            transform-origin: bottom center;
            animation-timing-function: cubic-bezier(1, 0.5, 0.5, 0.5);
        }
        50% {
            transform: rotateZ(30deg);
            transform-origin: bottom center;
            animation-timing-function: cubic-bezier(1, 0.5, 0.5, 0.5);
        }
        100% {
            transform: rotateZ(-10deg);
            transform-origin: bottom center;
            animation-timing-function: cubic-bezier(1, 1, 1, 1);
        }
    }
}

@include for-small-desktop {
    .hero-container {
        height: 800px;
        max-height: 100vh;
    }
    .hero-container::after {
        content: '';
        height: 800px;
        max-height: 100vh;
        background: $new-space;
        opacity: 0.9;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
    }

    .hero-text-box {
        height: 500px;
    }
}

@media (max-width: 1300px) {
    .hero-container {
        background: $new-space;
        height: 700px;
    }
    .hero-container::after {
        content: '';
        height: 700px;
        background: $new-space;
        opacity: 0.9;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
    }

    .hero-text-box {
        height: 400px;
        h2 {
            font-size: 18px;
            color: $new-white;
            margin-bottom: 15px;
        }
    }
}

@include for-tablet-only {
    .hero-content-box {
        padding: 100px 50px 100px 200px;
        display: flex;
        flex-direction: row;
        z-index: 1;
    }
    .changeling-text-box {
        display: inline-block;
        max-width: 300px;
    }

    .changeling-text {
        width: 300px;
    }
}

@include for-phone-only {
    .hero-content-box {
        padding: 100px 50px 100px 50px;
        display: flex;
        flex-direction: row;
        z-index: 1;
    }
    .changeling-text-box {
        display: inline-block;
        max-width: 300px;
    }

    .changeling-text {
        width: 300px;
    }
}
