@import '../../styles/custom.scss';

.hero-container {
    background-color: rgb(212, 158, 158);
    min-height: 100vh;
}

.hero-content-box {
    padding: 150px 300px;
    display: flex;
    flex-direction: row;
}

.profile-image {
    z-index: $base-z;
}

.hero-text-box {
    padding-right: 50px;
    flex-grow: 1;
    h1 {
        @include large-header-desktop;
    }
    h2 {
        font-size: 3vw;
        font-weight: bolder;
    }
}

.changeling-text-box {
    display: inline-block;
    background-color: black;
    color: white;
    max-width: 400px;
    max-height: 3vw;
    text-align: center;
    overflow-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
}

.sliding-titles {
    display: inline-block;
    -webkit-transition: transform 1s ease-in-out; /* Safari prior 6.1 */
    transition: transform 1s ease-in-out;
    will-change: transform;
}

.changeling-text {
    display: inline-block;
    text-decoration: underline;
    width: 400px;
}

.hero-image-box {
}

.exclam {
    display: inline-block;
    animation: rolling-icon 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    @keyframes rolling-icon {
        0% {
            transform: rotateZ(-10deg);
            transform-origin: bottom center;
            animation-timing-function: cubic-bezier(1, 0.5, 0.5, 0.5);
        }
        50% {
            transform: rotateZ(30deg);
            transform-origin: bottom center;
            animation-timing-function: cubic-bezier(1, 0.5, 0.5, 0.5);
        }
        100% {
            transform: rotateZ(-10deg);
            transform-origin: bottom center;
            animation-timing-function: cubic-bezier(1, 1, 1, 1);
        }
    }
}
