@import '../../styles/custom';

.welcome-container {
    position: fixed;
    top: 0;
    background-color: $new-aquamarine;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    -webkit-transform: none;
    transform: none;
    z-index: $over-header-z;
    overflow: hidden;
}

.welcome-container-slide {
    position: fixed;
    z-index: $over-header-z;
    top: 0;
    background-color: $new-aquamarine;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    transform: translateY(-100vh);
    -webkit-transform: translateY(-100vh);
    -ms-transform: translateY(300px);
    transition: transform 1s ease-in-out;
    transition-delay: 2s;
    overflow: hidden;
}

.welcome-container-gone {
    display: none;
}

.welcome-message-box {
    margin-top: 5%;
    margin-left: auto;
    width: 70%;
    z-index: $over-all-z;
    h1 {
        position: relative;
        display: inline-block;
        @include large-welcome-desktop;
        z-index: $over-all-z;
    }
    h1:nth-of-type(1) {
        @include y-slide-delayed-opacity-reset($default-slide-in-time);
        transition-delay: 0;
    }
    h1:nth-of-type(2) {
        @include y-slide-delayed-opacity-reset($default-slide-in-time);
        transition-delay: 0.3s;
    }
    h1:nth-of-type(3) {
        @include y-slide-delayed-opacity-reset($default-slide-in-time);
        transition-delay: 0.6s;
    }
}

.welcome-message-box-gone {
    margin-top: 5%;
    margin-left: auto;
    width: 70%;
    z-index: $over-all-z;
    h1:nth-of-type(1) {
        @include y-slide-delayed-opacity(100%);
        transition-delay: 0;
    }
    h1:nth-of-type(2) {
        @include y-slide-delayed-opacity(100%);
        transition-delay: 0.3s;
    }
    h1:nth-of-type(3) {
        @include y-slide-delayed-opacity(100%);
        transition-delay: 0.6s;
    }
}

@include for-small-desktop {
    .welcome-message-box {
        margin-top: 5%;
        margin-left: auto;
        width: 60%;
    }
    .welcome-message-box-gone {
        margin-top: 5%;
        margin-left: auto;
        width: 60%;
    }
}

@include for-tablet-only {
    .welcome-message-box {
        width: 60%;
    }
    .welcome-message-box-gone {
        width: 60%;
    }
}
@include for-phone-only {
    .welcome-message-box {
        margin-top: 15vh;
        width: 90%;
    }
    .welcome-message-box-gone {
        margin-top: 15vh;
        width: 90%;
    }
}
