@import '../../styles/custom';

.welcome-container {
    position: fixed;
    top: 0;
    background-color: $new-aquamarine;
    height: 100vh;
    width: 100%;
    -webkit-transform: none;
    transform: none;
    z-index: $over-header-z;
    // @include y-slide-delayed-opacity-reset(1s);
}

.welcome-container-slide {
    position: fixed;
    z-index: $over-header-z;
    top: 0;
    background-color: $new-aquamarine;
    height: 100vh;
    width: 100%;
    transform: translateY(-100vh);
    -webkit-transform: translateY(-100vh);
    -ms-transform: translateY(300px);
    transition: transform 1s ease-in-out;
    transition-delay: 2s;
}

.welcome-container-gone {
    display: none;
}

.welcome-message-box {
    margin: 10% auto;
    width: 80%;
    h1 {
        display: inline-block;
        @include large-welcome-desktop;
    }
    h1:nth-of-type(1) {
        @include y-slide-delayed-opacity-reset($default-slide-in-time);
        transition-delay: 0;
    }
    h1:nth-of-type(2) {
        @include y-slide-delayed-opacity-reset($default-slide-in-time);
        transition-delay: 0.3s;
    }
    h1:nth-of-type(3) {
        @include y-slide-delayed-opacity-reset($default-slide-in-time);
        transition-delay: 0.6s;
    }
}

.welcome-message-box-gone {
    margin: 20% auto;
    h1:nth-of-type(1) {
        @include y-slide-delayed-opacity(100%);
        transition-delay: 0;
    }
    h1:nth-of-type(2) {
        @include y-slide-delayed-opacity(100%);
        transition-delay: 0.3s;
    }
    h1:nth-of-type(3) {
        @include y-slide-delayed-opacity(100%);
        transition-delay: 0.6s;
    }
}
