@import '../../styles/custom.scss';

.work-container {
    background-color: $new-space;
    height: 900px;
}

.work-content-box {
    padding: 100px 200px 100px 300px;
    display: flex;
    flex-direction: row;
}

.text-block {
    margin-left: 50px;
    h1 {
        @include large-topic-desktop;
        color: $new-white;
        margin-bottom: 0;
    }
    h1:nth-child(1) {
        margin-left: 0;
    }
    h1:nth-child(2) {
        margin-left: 50px;
    }
    h1:nth-child(3) {
        margin-left: 100px;
    }
}

.description {
    margin-top: 50px;
    p {
        @include main-text-desktop;
        color: $new-white;
    }
}

.carousel-block {
    width: 35vw;
    flex-grow: 0;
    flex-shrink: 0;
    height: 27vw;
    padding-top: 3vw;
    border: 2px solid $new-aquamarine;
    background-color: transparent;
    border-radius: 5vw;
    overflow: hidden;
}

.stepBox {
    width: 30vw;
    height: 20vw;
    padding: 10px;
    border: 3px solid green;
    color: white;
}

// CAROUSEL
.carousel-container {
    position: relative;
    background: transparent;
    // border: 3px solid black;
    width: 35vw;
    height: 23vw;
}

// inner individual image ITEM container
.item-class {
    // border: 3px solid green;
    max-width: 29vw;
    margin-right: 2vw;
}

.container-class {
    // background-color: 3px solid red;
    width: 31vw;
    overflow: visible;
}

// inner slider container UL element
.slider-class {
    background-color: transparent;
}
