@import '../../styles/custom.scss';

.work-container {
    background-color: $new-space;
    height: 1500px;
    min-height: 110vh;
    overflow: hidden;
}

.work-content-box {
    position: relative;
    padding: 100px 200px 50px 300px;
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
}

.block-a {
    margin-left: 10vw;
    transform: rotate(45deg);
}

.block-b {
    margin-left: 25vw;
    margin-top: 150px;
}

.block-c {
    margin-left: auto;
    margin-right: 13vw;
    margin-top: 180px;
}

.block-d {
    margin-right: auto;
    margin-left: 0;
    margin-top: 250px;
}

.svg-box {
    position: relative;
}

.svg-top {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vw;
}

.svg-bot {
    z-index: 2;
    position: absolute;
    top: -100px;
    left: -20px;
    width: 100vw;
    height: 100vw;
}

.svg-portal {
    z-index: 3;
    position: absolute;
    width: 100vw;
    height: 100vw;
    top: -100px;
    left: -20px;
}

.text-block-closed {
    position: relative;
    z-index: $base-z;
    h1 {
        position: relative;
        padding-top: 15px; // this is needed so text gradient doesn't clip the text
        @include large-topic-desktop;
        z-index: $over-base-z;
        @include x-slide-delayed-opacity-reset(0.5s);
        background-image: linear-gradient(180deg, $cookie-yellow, $plum-pink, $new-aquamarine);
        filter: drop-shadow(0 1px 0px $new-aquamarine);
        color: $new-white;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-box-decoration-break: clone;
    }
    // h1:nth-of-type(1) {
    //     margin-left: 10px;
    //     @include x-slide-delayed-opacity-reset(0.5s);
    // }
    // h1:nth-of-type(2) {
    //     margin-left: 50px;
    //     @include x-slide-delayed-opacity-reset(0.5s);
    //     transition-delay: 0.2s;
    // }
    // h1:nth-of-type(3) {
    //     margin-left: 100px;
    //     @include x-slide-delayed-opacity-reset(0.5s);
    //     transition-delay: 0.4s;
    // }
}

.text-block {
    position: relative;
    // margin-left: 50px;
    z-index: $base-z;
    h1 {
        position: relative;
        @include large-topic-desktop;
        color: $new-white;
        margin-bottom: 0;
        z-index: $over-base-z;
        margin-left: 10px;
        @include x-slide-delayed-opacity(-600px);
    }
    // h1:nth-of-type(1) {
    //     margin-left: 10px;
    //     @include x-slide-delayed-opacity(600px);
    // }
    // h1:nth-of-type(2) {
    //     margin-left: 10px;
    //     @include x-slide-delayed-opacity(600px);
    // }
    // h1:nth-of-type(3) {
    //     margin-left: 10px;
    //     @include x-slide-delayed-opacity(600px);
    // }
}

.text-block-edit {
    position: relative;
    z-index: $base-z;
    h1 {
        position: relative;
        padding-top: 15px; // this is needed so text gradient doesn't clip the text
        @include large-topic-desktop;
        color: $new-white;
        background-image: linear-gradient(180deg, $orange-yellow, $new-aquamarine);
        filter: drop-shadow(0 1px 0px $new-aquamarine);
        color: $new-white;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-box-decoration-break: clone;
    }
}

@include for-small-desktop {
    .work-container {
        background-color: $new-space;
        height: 900px;
        min-height: 120vh;
        overflow: hidden;
    }

    .work-content-box {
        padding: 100px 100px 50px 300px;
    }

    .text-block {
        h1 {
            position: relative;
            @include large-topic-desktop;
            color: $new-white;
            margin-bottom: 0;
            z-index: $over-base-z;
        }
        h1:nth-of-type(1) {
            margin-left: 10px;
        }
        h1:nth-of-type(2) {
            margin-left: 30px;
        }
        h1:nth-of-type(3) {
            margin-left: 60px;
        }
    }
    .text-block-closed {
        h1 {
            position: relative;
            @include large-topic-desktop;
            color: $new-white;
            margin-bottom: 0;
            z-index: $over-base-z;
        }
        h1:nth-of-type(1) {
            margin-left: 10px;
        }
        h1:nth-of-type(2) {
            margin-left: 30px;
        }
        h1:nth-of-type(3) {
            margin-left: 60px;
        }
    }
}

@media (max-width: 1300px) {
    .work-container {
        background-color: $new-space;
        height: 900px;
        min-height: 200vh;
        overflow: hidden;
    }

    .work-content-box {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        padding: 100px 100px 50px 300px;
    }
}

@include for-tablet-only {
    .work-container {
        background-color: $new-space;
        height: 1200px;
        min-height: 110vh;
        overflow: hidden;
    }

    .work-content-box {
        position: relative;
        padding: 100px 50px 50px 200px;
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .text-block {
        // margin-left: 0px;
        margin-bottom: 50px;
        h1 {
            @include large-topic-desktop;
            color: $new-white;
        }
        h1:nth-of-type(1) {
            margin-left: 0;
        }
        h1:nth-of-type(2) {
            margin-left: 10vw;
        }
        h1:nth-of-type(3) {
            margin-left: 20vw;
        }
    }
    .text-block-closed {
        // margin-left: 0px;
        margin-bottom: 50px;
        h1 {
            @include large-topic-desktop;
            color: $new-white;
        }
        h1:nth-of-type(1) {
            margin-left: 0;
        }
        h1:nth-of-type(2) {
            margin-left: 10vw;
        }
        h1:nth-of-type(3) {
            margin-left: 20vw;
        }
    }
}

@include for-phone-only {
    .work-container {
        background-color: $new-space;
        height: 1000px;
        min-height: 100vh;
        overflow: hidden;
    }

    .work-content-box {
        position: relative;
        padding: 100px 7vw 50px 7vw;
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .text-block-closed {
        // margin-left: 0px;
        margin-bottom: 50px;
    }

    .text-block {
        // margin-left: 0px;
        margin-bottom: 50px;
    }
}

@include for-tiny-phone-only {
    .work-container {
        background-color: $new-space;
        height: 1210px;
        min-height: 110vh;
        overflow: hidden;
    }
}
