@import '../../styles/custom.scss';

.work-container {
    background-color: $new-space;
    height: 900px;
    min-height: 110vh;
    overflow: hidden;
}

.work-content-box {
    padding: 100px 200px 50px 300px;
    display: flex;
    flex-direction: row;
}

.text-block {
    position: relative;
    margin-left: 50px;
    h1 {
        @include large-topic-desktop;
        color: $new-white;
        margin-bottom: 0;
    }
    h1:nth-of-type(1) {
        margin-left: 10px;
    }
    h1:nth-of-type(2) {
        margin-left: 50px;
    }
    h1:nth-of-type(3) {
        margin-left: 100px;
    }
}

.description {
    margin-top: 50px;
    p {
        @include main-text-desktop;
        color: $new-white;
    }
}

.hidden-outline {
    padding: 0 10vw;
    position: relative;
    height: 340px;
    overflow: hidden;
    h1 {
        @include gigantic-decoration-desktop($new-space, $new-dark-grey);
        color: $new-white;
        position: absolute;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
    h1:nth-child(1) {
        left: 10vw;
        top: 20px;
    }
    h1:nth-child(2) {
        left: 30vw;
        top: 80px;
    }
    h1:nth-child(3) {
        left: 50vw;
        top: 160px;
    }
}

.carousel-block {
    position: relative;
    width: 35vw;
    flex-grow: 0;
    flex-shrink: 0;
    height: 27vw;
    padding-top: 3vw;
    border: 2px solid $new-aquamarine;
    background-color: transparent;
    border-radius: 5vw;
    overflow: hidden;
}

.stepBox {
    width: 30vw;
    height: 20vw;
    padding: 10px;
    color: white;
    h3 {
        @include middle-title-desktop;
        text-align: center;
        color: $new-white;
    }
}

.carousel-media {
    display: flex;
    flex-direction: row;
}

.carousel-image {
    flex-grow: 0;
    flex-shrink: 0;
    width: 50%;
}
.carousel-text {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 30px;
    padding-right: 5px;
    p {
        display: block;
        @include main-text-desktop;
        color: $new-white;
        line-height: 1.5;
    }
}

// CAROUSEL
.carousel-container {
    position: relative;
    background: transparent;
    // border: 3px solid black;
    width: 35vw;
    height: 23vw;
}

// inner individual image ITEM container
.item-class {
    // border: 3px solid green;
    max-width: 29vw;
    margin-right: 2vw;
}

.container-class {
    // background-color: 3px solid red;
    width: 31vw;
    overflow: visible;
}

// inner slider container UL element
.slider-class {
    background-color: transparent;
}

.decoration-box-large {
    position: absolute;
    top: -30px;
    left: -100px;
    width: 50px;
    height: 50px;
    padding: 50px;
    background-color: $new-aquamarine;
}

.decoration-box-small {
    position: absolute;
    bottom: -30px;
    right: 100px;
    width: 20px;
    height: 20px;
    padding: 20px;
    background-color: $new-coral;
}
