@import '../../styles/custom';

.menuBox {
    position: fixed;
    border-right: 2px solid $new-aquamarine;
    height: 100vh;
    width: 200px;
    z-index: $header-z;
}

.menu-options-box {
    position: absolute;
    top: 40vh;
    width: 100%;
}

.click-stick-active {
    position: absolute;
    right: 0px;
    width: 40px;
    height: 2px;
    border: 2px solid $new-aquamarine;
    background-color: $new-aquamarine;
    cursor: pointer;
    span {
        display: inline-block;
        width: 60px;
        position: absolute;
        @include tiny-header-desktop;
        color: $new-aquamarine;
        right: -80px;
        top: -2px;
    }
    &:hover {
        border-color: $new-white;
        span {
            color: $new-white;
        }
    }
    &:active {
        border-color: $new-aquamarine;
        span {
            color: $new-aquamarine;
        }
    }
}

.click-stick {
    position: absolute;
    background-color: $new-aquamarine;
    right: 0px;
    width: 20px;
    height: 1px;
    border: 1px solid $new-aquamarine;
    cursor: pointer;
    span {
        display: inline-block;
        width: 60px;
        position: absolute;
        @include tiny-header-desktop;
        color: $new-aquamarine;
        right: -80px;
        top: -2px;
    }
    &:hover {
        border-color: $new-white;
        span {
            color: $new-white;
        }
    }
    &:active {
        border-color: $new-aquamarine;
        span {
            color: $new-aquamarine;
        }
    }
}

.menuBoxLight {
    position: fixed;
    border-right: 2px solid $new-dark-grey;
    height: 100vh;
    width: 200px;
    z-index: $header-z;
    .click-stick {
        border: 1px solid $new-dark-grey;
        background-color: $new-dark-grey;
        span {
            color: $new-dark-grey;
        }
    }
    .click-stick-active {
        border: 2px solid $new-dark-grey;
        span {
            color: $new-dark-grey;
        }
    }
}


@include for-tablet-only {
    .menuBox {
        width: 100px;
    }
    .menuBoxLight {
        width: 100px;
    }
}

@include for-phone-only {
    .menuBox {
        display: none;
    }
    .menuBoxLight {
        display: none;
    }
}