@import '../styles/custom';

.footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: $new-space;
    z-index: $over-all-z;
}

.map-box {
    height: 300px;
    cursor: default;
}

.footer-box {
    padding-top: 40px;
    text-align: center;
    p {
        @include tiny-header-desktop;
        color: $new-white;
        margin-bottom: 5px;
    }
}